<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ios에서도 자동재생을 가능하게 하는 youtube API 사용방법</title>
  <style>
    * {
      margin: 0;
      padding: 0
    }
    section {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    h1{position: absolute;top: 50px;}
  </style>
</head>

<body>
  <section class="section" style="background-color:#fc0;">
    <h1>ios에서도 자동재생을 가능하게 하는 youtube API 사용방법</h1>
    <h2>section01</h2>
    <div class="youtube" data-videoid="EjvSTsFnWKY"></div>
  </section>
  <section class="section" style="background-color:#000;">
    <h2>section02</h2>
    <div class="youtube" data-videoid="dsZ9ktTDPhY"></div>
  </section>
  <section class="section" style="background-color:#ddd;">
    <h2>section03</h2>
    <div class="youtube" data-videoid="Y7J-7L3hDC4"></div>
  </section>
  <section class="section" style="background-color:#dff;">
    <h2>section04</h2>
    <div class="youtube" data-videoid="ELAVC4lYsvg"></div>
  </section>
  <section class="section" style="background-color:#fad;">
    <h2>section05</h2>
    <div class="youtube" data-videoid="xedmOLcp_EA"></div>
  </section>
  <section class="section" style="background-color:#fdf;">
    <h2>section_06</h2>
    <div class="youtube" data-videoid="hvjGA7CYBR8"></div>
  </section>
  <script src="../js/youtubeApi.js" class="ytb_script" defer></script>
</body>

</html>