<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game01(mini)</title>
    <link rel="stylesheet" href="../css/game01.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js" integrity="sha512-GQ5/eIhs41UXpG6fGo4xQBpwSEj9RrBvMuKyE2h/2vw3a9x85T1Bt0JglOUVJJLeyIUl/S/kCdDXlE/n7zCjIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <img src="../images/bg1.png" alt="" id="bg1-img" class="asset-img">
    <img src="../images/bg2.png" alt="" id="bg2-img" class="asset-img">
    <img src="../images/bg3.png" alt="" id="bg3-img" class="asset-img">
    <img src="../images/wall.png" alt="" id="wall-img" class="asset-img">
    <img src="../images/bird.png" alt="" id="bird-img" class="asset-img">
    <img src="../images/coin.png" alt="" id="coin-img" class="asset-img">
  <main>
    <div class="ready-screen">
      <img src="../images/title.png" alt="" class="title-img">
      <img src="../images/play.svg" alt="" class="play-img">
    </div>
    <div class="finish-screen">
      <div class="distance">0m</div>
      <div class="coin">0coin</div>
      <img src="../images/replay.svg" alt="" class="replay-img">
    </div>
    <canvas></canvas>
  </main>
  <script type="module" src="../js/mini_game.js"></script>
</body>
</html>